In [18]:
import numpy as np
import pandas as pd
import keras

reviews = pd.read_csv('../data/reviews.csv')

In [19]:
meta = pd.read_csv('../data/meta.csv')
meta.info()
meta.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18393 entries, 0 to 18392
Data columns (total 13 columns):
reviewid          18393 non-null int64
title             18391 non-null object
artist            18391 non-null object
url               18393 non-null object
score             18393 non-null float64
best_new_music    18393 non-null int64
author            18393 non-null object
author_type       14487 non-null object
pub_date          18393 non-null object
pub_weekday       18393 non-null int64
pub_day           18393 non-null int64
pub_month         18393 non-null int64
pub_year          18393 non-null int64
dtypes: float64(1), int64(6), object(6)
memory usage: 1.8+ MB

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017
1,22721,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017
2,22659,all of them naturals,uranium club,http://pitchfork.com/reviews/albums/22659-all-...,7.3,0,david glickman,contributor,2017-01-07,5,7,1,2017
3,22661,first songs,"kleenex, liliput",http://pitchfork.com/reviews/albums/22661-firs...,9.0,1,jenn pelly,associate reviews editor,2017-01-06,4,6,1,2017
4,22725,new start,taso,http://pitchfork.com/reviews/albums/22725-new-...,8.1,0,kevin lozano,tracks coordinator,2017-01-06,4,6,1,2017

In [20]:
meta.drop(['title','artist', 'url', 'author', 'author_type', 'best_new_music', 'pub_date', 'pub_weekday', 'pub_day', 'pub_month', 'pub_year'], axis=1, inplace=True)
meta.info()
meta.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18393 entries, 0 to 18392
Data columns (total 2 columns):
reviewid    18393 non-null int64
score       18393 non-null float64
dtypes: float64(1), int64(1)
memory usage: 287.5 KB

   reviewid  score
0     22703    9.3
1     22721    7.9
2     22659    7.3
3     22661    9.0
4     22725    8.1

In [21]:
genres = pd.read_csv('../data/genres.csv')

# some have multiple genres, for now lets just choose the first one
genres.drop_duplicates(subset=['reviewid'],inplace=True)

genres.info()
genres.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18389 entries, 0 to 22679
Data columns (total 2 columns):
reviewid    18389 non-null int64
genre       16024 non-null object
dtypes: int64(1), object(1)
memory usage: 431.0+ KB

   reviewid       genre
0     22703  electronic
1     22721       metal
2     22659        rock
3     22661        rock
4     22725  electronic

In [22]:
genres.dropna(inplace=True)
genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16024 entries, 0 to 22676
Data columns (total 2 columns):
reviewid    16024 non-null int64
genre       16024 non-null object
dtypes: int64(1), object(1)
memory usage: 375.6+ KB

In [23]:
df = pd.merge(genres, reviews, on='reviewid')
df = pd.merge(df, meta, on='reviewid')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16030 entries, 0 to 16029
Data columns (total 4 columns):
reviewid    16030 non-null int64
genre       16030 non-null object
content     16021 non-null object
score       16030 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 626.2+ KB

,reviewid,genre,content,score
0,22703,electronic,"“Trip-hop” eventually became a ’90s punchline,...",9.3
1,22721,metal,"Eight years, five albums, and two EPs in, the ...",7.9
2,22659,rock,Minneapolis’ Uranium Club seem to revel in bei...,7.3
3,22661,rock,Kleenex began with a crash. It transpired one ...,9.0
4,22725,electronic,It is impossible to consider a given release b...,8.1

In [24]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16021 entries, 0 to 16029
Data columns (total 4 columns):
reviewid    16021 non-null int64
genre       16021 non-null object
content     16021 non-null object
score       16021 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 625.8+ KB

In [25]:
df_sample = df.sample(n=5000).dropna()
df_sample.reset_index(inplace=True)
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
index       5000 non-null int64
reviewid    5000 non-null int64
genre       5000 non-null object
content     5000 non-null object
score       5000 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 195.4+ KB

In [26]:
df_sample['feeling'] = pd.cut(df_sample.score, 3, labels=[0, 1, 2])

df_sample.head()

,index,reviewid,genre,content,score,feeling
0,6463,14428,rock,First things first: If you came to this EP loo...,6.6,1
1,14737,3208,jazz,And it's back to the metaphorical boondocks fo...,7.0,2
2,12876,11671,rock,Back in the days when Belle & Sebastian were a...,6.9,2
3,3506,18217,rock,Opening Without Your Love with a cameo from Bu...,6.7,1
4,1218,21340,pop/r&b,Imagine a Groundhog Day sequel where each day ...,8.3,2

In [27]:
from keras.models import Sequential, Input, Model
from keras.layers import Dense
from keras.layers import LSTM, GRU, SimpleRNN
from keras.layers.embeddings import Embedding